<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <style>
        .newCredentials{
            margin-left: 500px;
            margin-top: 200px;
        }
        input{
            width: 250px;
            height: 30px;
            color: black;
            font-size: medium;
            font-weight: bold;
        }
    </style>
</head>
<body>
<form action="" method="post" class="newCredentials" type="submit" value="submit" >
    <label for="newpassword">New Password</label><br>
    <input type="password" id="npass" name="newpassword"><br><br>
    <label for="confirmpassword">confirm Password</label><br>
    <input type="password" id="cpass" name="confirmpassword"><br><br>
    <input type="submit" value="submit">
</form>
</body>
</html>